#container{
    width: 500px;
    height: 200px;
    border: 2px solid salmon;
    position: absolute;
    top:50%;
    left:70%;
    transform: translateX(-50%) translateY(-50%);

}

li{
    list-style: none;
    /*border-bottom: 1px solid salmon;*/
}

#talkArea{
    width: 500px;
    height: 500px;
    border: 3px solid black;
    float: left;
}

aside{

}

/*---------------------留言区域-------------------------------*/
#publishTalk{
    display: none;
    float:right;
}